@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

a
	color: $text 
	transition: color .1s linear	
	&:hover, &:active
		text-decoration: none
		color: #ffb300

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Ubuntu', sans-serif
	overflow-x: hidden
	color: $text

// Custom Sass / Remove before use

.container
	max-width: 1640px
	padding:
		right: $gutter/2
		left: $gutter/2
	margin:
		left: auto
		right: auto

.img-responsive
	display: block
	max-width: 100%
	height: auto

// .example-grid
// 	display: grid
// 	grid-gap: $gutter
// 	grid-template-columns: 1fr 1fr
// 	grid-template-areas: "left right"
// 	> div:first-child
// 		grid-area: left
// 	> div:last-child
// 		grid-area: right
// 	+media-breakpoint-down(xs)
// 		display: block
// 		> div
// 			padding: $gutter/2 0
	
// .example-img
// 	width: 100%

// .parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
// 	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

.header__top 
	display: flex
	justify-content: space-between
	padding: 45px 0
	align-items: center
	font-size: 0

	.logo	
		font: 28px normal "Roboto", sans-serif
		text-transform: uppercase

	.header__contacts
		display: flex

		.contacts__item
			margin-left: 37px
			padding: 0 37px 0 0
			font-size: 18px
			color: $text
			line-height: 1.14
			border-right: 1px solid #000
			
			&:first-child
				margin-left: 0

			& a:hover
				color: $text
	
	.header__soc
		font: 28px "FontAwesome"

		.contacts__item_icon
			margin-left: 5px

			&:first-child
					margin-left: 0
			&:hover
				color: #ffb300

.header_nav 
	background-color: #081544

	.nav
		display: flex
		justify-content: center
		align-items: center
		padding: 25px 0

		.nav__link
			color: #fff
			text-transform: uppercase
			font-size: 18px
			margin-right: 33px
			transition: color .1s linear

			&:last-child
				margin-right: 0
			
			&:hover 
				color: #ffb300
	
.intro
	padding: 40px 0

	.intro__inner
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center

		.text-block
			line-height: 1.2
			margin-right: 157px

			.text-block__title
				font-size: 48px
				font-weight: bold
			
			.text-block__subtitle
				font-size: 28px
				font-weight: 300
				margin-top: 58px

		.intro__img
			width: 600px

.form-callback
	position: relative
	background: #081544 url(../img/_src/bg-form.jpg) no-repeat
	padding: 38px 0
	z-index: 0
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: #081544
		opacity: 0.85
		z-index: -1

	.form-callback__title
		color: #ffffff
		text-transform: uppercase
		text-align: center
		margin: 0 0 35px 0
		h2
			margin: 0
			font-size: 45px
			line-height: 1.5

.form-wrap
	display: flex
	justify-content: center
	flex-direction: row
	
	.field-wrap
		position: relative
		margin-right: 15px

		&:nth-child(2)
			margin-right: 140px

		& label
			position: absolute
			pointer-events: none
			margin: 0
			top: 10px
			left: 25px
			font-size: 25px
			font-family: 'Ubuntu', sans-serif
			transition: 0.2s ease all

		& input
			padding: 10px 25px 18px 25px 
			width: 400px
			border: 0
			border-radius: 30px
			font-size: 25px
			color: $text
			
			&:focus,
			&:valid
				& + label
					top: -30px
					left: 30px
					color: #ffffff
					font-size: 16px

.button
	color: $text
	font-size: 30px
	line-height: normal
	letter-spacing: -1px
	border-radius: 36px
	padding: 10px 70px 15px 70px
	border: 0
	background: linear-gradient(104deg, #ffb300, #ffdd01 81%)
	transition: 0.5s ease all

	&:focus, &:hover
		color: #000000
		box-shadow: 0px 1px 10px  1px #ffb300 
		outline: none

	&:active
		outline: none

.section
	padding: 47px 0 230px
.section__header
	text-align: center
	line-height: 1.5
	.section__title
		font-size: 45px
		font-weight: bold
	.section__desc
		font-size: 28px
		line-height: 1.14
		margin-top: 15px
		margin-bottom: 105px

.sa__items
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	.sa__item
		flex-basis: 450px
		align-items: stretch
		text-align: center
		margin-bottom: 105px
		
		.sa__item-title
			font-size: 30px
			font-weight: bold
			line-height: 1.17
			margin-bottom: 35px
			& > i
				display: block
				font-size: 45px
				color: #000000
				margin-bottom: 30px
		.sa__item-desc
			font-size: 28px
			line-height: 1.14